<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Keychain</string>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSKeychainPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleVersion</key>
	<string>146</string>
	<key>QSActions</key>
	<dict>
		<key>QSKeychainItemCopyAccountAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyAccount:</string>
			<key>description</key>
			<string>Copy account to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Account</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainItemCopyPasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>copyPassword:</string>
			<key>description</key>
			<string>Copy password to the clipboard</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Copy Password</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainItemGetAccountAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>getAccount:</string>
			<key>description</key>
			<string>Return account to command</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Get Account</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainItemGetPasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>getPassword:</string>
			<key>description</key>
			<string>Return password to command</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Get Password</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainItemPasteAccountAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>pasteAccount:</string>
			<key>description</key>
			<string>Paste account to the current application</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Paste Account</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainItemPastePasswordAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>pastePassword:</string>
			<key>description</key>
			<string>Paste password to the current application</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainItemType</string>
			</array>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Paste Password</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainLockAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>lockKeychain:</string>
			<key>description</key>
			<string>Lock keychain</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Lock</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSKeychainUnlockAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSKeychainActionProvider</string>
			<key>actionSelector</key>
			<string>unlockKeychain:</string>
			<key>description</key>
			<string>Unlock keychain</string>
			<key>directTypes</key>
			<array>
				<string>QSKeychainType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.keychainaccess</string>
			<key>name</key>
			<string>Unlock</string>
			<key>precedence</key>
			<real>2</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access to Keychain entries</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;Keychain plugin&lt;/h1&gt;
&lt;p&gt;This plugin gives Quicksilver the ability to access data stored in Keychains -- Safari passwords as well as any other data added by applications -- and allows login names and associated passwords to be directly manipulated or retrieved directly by copy/pasting.&lt;/p&gt;
&lt;h2&gt;Catalog&lt;/h2&gt;
&lt;dl&gt;
&lt;dt&gt;Keychains&lt;/dt&gt;
&lt;dd&gt;This will add &quot;login&quot; and &quot;System&quot; keychains to your catalog as well as any others you have defined. You can also access keychains by selecting Keychain Access and hitting → or /. With a keychain selected, hit → or / to access individual items.&lt;/dd&gt;
&lt;/dl&gt;
&lt;h2&gt;Actions&lt;/h2&gt;
&lt;p&gt;With a keychain selected, the following actions will be available:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Lock&lt;/li&gt;
&lt;li&gt;Unlock&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;With a keychain item selected, the following actions will be available:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Copy Account&lt;/li&gt;
&lt;li&gt;Paste Account&lt;/li&gt;
&lt;li&gt;Get Account&lt;/li&gt;
&lt;li&gt;Copy Password&lt;/li&gt;
&lt;li&gt;Paste Password&lt;/li&gt;
&lt;li&gt;Get Password&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;Terminology&lt;/h3&gt;
&lt;dl&gt;
&lt;dt&gt;Account&lt;/dt&gt;
&lt;dd&gt;The value from the &quot;Account&quot; field in Keychain Access. This is usually the username.&lt;/dd&gt;
&lt;dt&gt;Password&lt;/dt&gt;
&lt;dd&gt;The password stored with this item. You will be prompted to allow Quicksilver access to an item if it hasn&apos;t been granted before.&lt;/dd&gt;
&lt;dt&gt;Get&lt;/dt&gt;
&lt;dd&gt;Display the account or password as text in Quicksilver&apos;s first pane for further action.&lt;/dd&gt;
&lt;dt&gt;Copy&lt;/dt&gt;
&lt;dd&gt;Copy the account or password to the clipboard.&lt;/dd&gt;
&lt;dt&gt;Paste&lt;/dt&gt;
&lt;dd&gt;Paste the account or password to the active application.&lt;/dd&gt;
&lt;/dl&gt;</string>
		<key>icon</key>
		<string>com.apple.keychainaccess</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.keychainaccess</string>
		</array>
		<key>requiresFeature</key>
		<string>1</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetKeychains</string>
			<key>name</key>
			<string>Keychains</string>
			<key>requiresBundle</key>
			<string>com.apple.keychainaccess</string>
			<key>source</key>
			<string>QSKeychainSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSKeychainActionProvider</key>
			<string>QSKeychainActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.keychainaccess</key>
			<string>QSKeychainSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSKeychainItemType</key>
			<string>QSKeychainSource</string>
			<key>QSKeychainType</key>
			<string>QSKeychainSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSKeychainSource</key>
			<string>QSKeychainSource</string>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSKeychainItemType</key>
			<dict>
				<key>icon</key>
				<string>KeychainKeyIcon</string>
				<key>name</key>
				<string>Keychain Item</string>
			</dict>
			<key>QSKeychainType</key>
			<dict>
				<key>icon</key>
				<string>KeychainLockedIcon</string>
				<key>name</key>
				<string>Keychain</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>KeychainCertificateIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>CertStackLarge.png</string>
		</dict>
		<key>KeychainKeyIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Key_Large.png</string>
		</dict>
		<key>KeychainLockedIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Keychain_Locked.png</string>
		</dict>
		<key>KeychainNetVolIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>netvol.icns</string>
		</dict>
		<key>KeychainSecureNoteIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>securenote.icns</string>
		</dict>
		<key>KeychainURLIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>InternetAccounts.icns</string>
		</dict>
		<key>KeychainUnlockedIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.keychainaccess</string>
			<key>resource</key>
			<string>Keychain_Unlocked.png</string>
		</dict>
	</dict>
</dict>
</plist>
